@mixin textStyle ($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin contentSection ($position, $padding) {
    display: flex;
    justify-content: $position;
    align-items: center;
    padding: $padding;
}

@mixin featureSize ($width, $height) {
    width: $width;
    height: $height;
}

