// variable color
$color-black-0: #000000;
$color-white-0: #F6F6F6;
$color-white-1: #FFFCFC;
$color-black-1: #0000003D;
$color-yellow-0: #F8B653;
$color-yellow-1: #E1B067;
$color-gray-0: #F8F8F8;
$color-gray-1: #CBC9C9;
$color-gray-2: #DEDDDC;
$color-gray-3: #595959;

// variable font-size
$fs-0: 16px;
$fs-1: 20px;
$fs-2: 24px;
$fs-3: 40px;

// variable font-weight
$fw-0: 200;
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;

// variable height
$height-0: 50px;